body {
  background: #ffc107;
}
.btn {
  text-transform: uppercase;
}

.btn-reset {
  position: fixed;
  bottom: 4em;
  background-color: rgba(240,19,11);
  border-color: rgba(240,19,11);
}

.app {
  margin-top: 2em;
}

.app-title {
  margin-bottom: 1em;
}

.v-align {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.robot {
  position: relative;
}

.robot-body {
  width: 200px;
  height:200px;
  border-radius: 50%;
  background: rgba(240,19,11);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(240,19,11,.4);
  animation: pulse 2s infinite;
}

.robot-dead {
  animation: none;
}
/* https://codepen.io/olam/pen/zcqea?editors=1100 */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(240,19,11,.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 40px rgba(240,19,11,0);
  }
  100% {
      -webkit-box-shadow:0 0 0 0 rgba(240,19,11,0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(240,19,11,.4);
    box-shadow: 0 0 0 0 rgba(240,19,11,.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 40px rgba(240,19,11,0);
      box-shadow: 0 0 0 40px rgba(240,19,11,0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(240,19,11,0);
      box-shadow: 0 0 0 0 rgba(240,19,11,0);
  }
}